*{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}
body{
    font-size: 1.5rem;
    text-align: center;
}
span{
    font-size: 3rem;
    margin:0.5rem;

}
.act{
    background: green;
}
