@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --bg :#4f4b4b;
    --displaybg : #589958;
    --border-radius: 10px;
}
body{
    font-family:"Zen Dots", "Rubik", sans-serif;;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    margin: 1rem;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--bg);
    width: 400px;
    height: 500px;
    padding: 0.75rem;
    gap :6px;   
    border-radius: var(--border-radius);
}
.container div{
    flex-grow: 1;
    display: flex;
    gap: 4px;
}
.output{
    height: 50px;
    width:100%;
    background-color: var(--displaybg);
    border: 7px solid black ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.75em;
}
.n0{
    flex:2.05;
}
button{
    font:inherit;
    flex:1;
    border-radius: var(--border-radius);
    border: none;
    background-color: #e05832;
}
main div button:last-child, main div:nth-child(2) button{
    background-color: #946fb8;
}
button:active{
    opacity: 0.6;
}

